<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        /* CSS for product image */
        .product-image {
            transition: transform 0.3s ease-in-out; /* Để tạo hiệu ứng smooth khi scale */
        }

        .product-image:hover {
            transform: scale(1.1); /* Scale lên 110% khi di chuột qua */
        }
    </style>
</head>
<body>
<div th:fragment="content" class="col-sm-2 mt-2" style="text-align: center;">
    <div >
        <a th:href="@{'/p/' + ${product.alias}}" style="text-decoration: none; color: black">
            <img th:src="@{${product.mainImagePath}}" width="120" height="120" style="display: block; margin: 0 auto;"/>
            <br/>
            <b>[[${product.shortName}]]</b>
        </a>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <input type="text" class="product-detail-rating-star" dir="ltr" data-size="xs"
                           th:value="${product.averageRating}"/>
                </td>
                <td><small>[[${product.reviewCount}]]</small></td>
            </tr>
        </table>
    </div>
    <div th:replace="product/product_fragment :: product_price"></div>
</div>

<div th:fragment="product_price" th:remove="tag">
    <th:block th:if="${product.discountPercent &lt;= 0}">
        <p class="mb-2 mt-0">
        <span style="font-size:larger;"><div th:replace="product/product_fragment :: price_fragment(${product.price})"></div></span>
        </p>
    </th:block>
    <th:block th:if="${product.discountPercent > 0}">
        <p class="mb-2 mt-0">
        <del class="font-size-15 fw-normal"><div th:replace="product/product_fragment :: price_fragment(${product.price})"></div></del>
            &nbsp;
        <span style="font-size:larger; color: darkred">
            <div th:replace="product/product_fragment :: price_fragment(${product.discountPrice})"></div>
        </span>
        </p>
    </th:block>
</div>

<div th:fragment="price_fragment(productPrice)" th:remove="tag">
    <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(productPrice, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span
        th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
</div>
</body>
</html>