<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Verification Success', 'none')"></head>
<body>
<div th:replace="navigation :: header_menu"></div>

<div class="container-fluid">
    <div>&nbsp;</div>
    <div class="text-center">
        <h2>Customer Verification</h2>
        <h4>Congratulation! Your account has been verified.</h4>
        <p>Please check you email to verify our account.</p>
        <p><a th:href="@{/login}">Login Now</a></p>
    </div>

</div>
<div th:replace="navigation :: footer_menu"></div>

</body>
</html>